# Root level
.DS_Store
.env
*.log

# ========================
# Node.js / Express Ignore
# ========================
/backend/node_modules/
/backend/.env
/backend/npm-debug.log
/backend/yarn-error.log
/backend/dist/
/backend/coverage/
/backend/.eslintcache

# Logs
/backend/logs
/backend/*.log
/backend/logs/**/*.log

/backend/uploads/

# ========================
# Flutter Ignore
# ========================
/mobile/.dart_tool/
/mobile/.idea/
/mobile/.packages
/mobile/build/
/mobile/ios/Flutter/Flutter.framework
/mobile/ios/Flutter/Flutter.podspec
/mobile/ios/Runner.xcworkspace/
/mobile/ios/Pods/
/mobile/ios/.symlinks/
/mobile/ios/Flutter/Generated.xcconfig
/mobile/pubspec.lock
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.metadata
/mobile/android/.gradle/
/mobile/android/app/debug
/mobile/android/app/release
/mobile/android/local.properties
/mobile/android/.idea
/mobile/android/.settings
/mobile/android/build/
*.iml

# VSCode
.vscode/

# Mac System Files
**/.DS_Store